body {
    background: url(../uploads/snow-loveletter.jpg) no-repeat;
}

.w {
    width: 800px;
}

th {
    position: relative;
}

.todolist .list-text {
    height: 45px;
    line-height: 45px;
}

.todolist p {
    display: inline;
    font-size: 17px;
}

.todolist .statistician {
    position: absolute;
    top: 45px;
    left: 178px;
}

.todolist p:hover {
    cursor: pointer;
}

.w .todolist th {
    position: relative;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.todolist .add-list {
    position: absolute;
    top: 18px;
    right: 0;
}

.todolist th h2 {
    width: 784px;
}

.todolist .one-list td {
    width: 700px;
}

.todolist .one-list .success {
    background-color: rgba(223, 240, 216, .5);
}

.todolist .one-list .info {
    background-color: rgba(217, 237, 247, .5);
}

.todolist .one-list .warning {
    background-color: rgba(252, 248, 227, .5);
}

.todolist .one-list .danger {
    background-color: rgba(242, 222, 222, .5);
}

.todolist .one-list .success:hover {
    background-color: rgba(223, 240, 216, .8);
}

.todolist .one-list .info:hover {
    background-color: rgba(217, 237, 247, .8);
}

.todolist .one-list .warning:hover {
    background-color: rgba(252, 248, 227, .8);
}

.todolist .one-list .danger:hover {
    background-color: rgba(242, 222, 222, .8);
}

.todolist .success p {
    text-decoration: line-through;
}

.todolist .list-ok-mark,
.list-remove-mark {
    float: right;
    line-height: 45px;
    margin-right: 17px;
    font-size: 32px;
}

.todolist .list-ok-mark,
.list-remove-mark:hover {
    cursor: pointer;
}

.todolist .list-ok-mark {
    color: #13a4d5;
}

.todolist .list-ok-mark:hover {
    color: #0bbd71;
}

.todolist .list-remove-mark {
    color: #ffda30;
}

.todolist .list-remove-mark:hover {
    color: #ea4537;
}

.todolist .add-list {
    margin-top: 15px;
    font-size: 24px;
    color: #303234;
}

.todolist .add-list:hover {
    cursor: pointer;
    color: #44464a;
}

.form-group .priority {
    margin-left: 6px;
}

.form-group #info {
    color: #15a3d4;
}

.form-group #warn {
    color: #f8d334;
}

.form-group #urgent {
    color: #e2323a;
}